/*
  --------------------------------------------------
  GLOBAL LAYOUTS
  This handles page sections e.g. .header, .sidebar, etc
  --------------------------------------------------
*/
.hidden {
  display: none;
}
body {
  font-family: $font-regular;
  background-color: $color-white;
  font-size: $fontsize-14;
  color: $color-body;
  scroll-behavior: smooth;
}

.header,
.article,
.footer {
  width: 100%;
  margin: auto;
  position: relative;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 70px;
}
.section {
  position: relative;
}
.content {
  @extend .article;
  width: 92%;
  max-width: 1120px;
}
.section__left,
.section__right {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  white-space: normal;
}

/* Grids --------------------------*/
.grid {
  position: relative;
}
.grid__item {
  width: 30.5%;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  position: relative;
}
.grid__item:nth-child(3n) {
  margin-right: 0;
}

.section.footer {
  background: $color-footer;
  color: $color-spacegrey;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  a {
    color: $color-spacegrey;
  }
  a:hover {
    opacity: 0.9;
  }
  .copyright {
    margin-right: 18%;
  }
  .subscribe {
    position: absolute;
    right: 0;
    top: -6px;
    background-image: url(../img/icon-email.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: left center;
    background-color: #555555;
    color: #9a9a9a;
    font-size: 11px;
    padding-left: 23px;
    border: solid 9px #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 900px) {
  .section.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    .copyright,
    a {
      margin-right: 15px;
      margin-bottom: 15px;
      display: inline-block;
    }
  }
}
@media only screen and (max-width: 680px) {
  .section.footer {
    .subscribe {
      position: relative;
      top: unset;
      display: inline-block;
    }
  }
}
@media only screen and (max-width: 425px) {
  .header {
    padding-top: 30px;
  }
  .section__left,
  .section__right {
    display: block;
    vertical-align: top;
    width: 100%;
  }
}
