/*
  --------------------------------------------------
  Encapsulated modules, re-useable.
  A module is a more discrete component of the page.
  e.g. navigation bars, carousels, dialogs, widgets e.t.c
  --------------------------------------------------
*/

/* Top banner section --------------------------*/
body.page-home .section.landing {
  background-image: url(../img/cityscape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 830px;
  color: $color-white;
  overflow: hidden;
}
.content__intro {
  margin-top: 22%;
  margin-left: 4%;
  display: inline-block;
  position: relative;
  transform: translate(0, 0);
  transition-delay: 0.3s;
  transition-duration: 1s;
  opacity: 1;
  max-width: 640px;
}
.content__intro h1 {
  line-height: 110%;
  margin-top: 35px;
  margin-bottom: 0;
  color: $color-white;
}
.content__intro .subtitle {
  max-width: 395px;
  font-size: 20px;
}

.section.about {
  margin-top: 100px;
  white-space: nowrap;
  overflow: hidden;

  .transition-enabled {
    transform: translate(-100px, 0);
    transition-delay: 0.1s;
    transition-duration: 0.7s;
    opacity: 0;
  }
  .about__right .transition-enabled {
    transform: translate(100px, 0);
  }
  .about__right .transition-enabled.is-visible,
  .transition-enabled.is-visible {
    transform: translate(0, 0);
    opacity: 1;
  }

  .about__left {
    padding-right: 15%;
    width: 35%;
    p {
      font-size: 16px;
    }
    p.transition-enabled.is-visible {
      transition-delay: 0.3s;
    }
  }
  .about__right {
    width: 45%;
  }
  .about__right strong {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }
}

.section.beliefs {
  white-space: nowrap;
  overflow: hidden;
  .beliefs__left {
    text-align: left;
  }
  .transition-enabled {
    transition-delay: 0.1s;
    transition-duration: 0.7s;
    opacity: 0;
  }
  .beliefs__left-circle {
    background-image: url(../img/circle-green.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    padding: 50px 0 85px;
    max-width: 245px;
  }
  .beliefs__left-circle.transition-enabled {
    transition-delay: 0s;
    transition-duration: 0.2s;
    opacity: 0;
  }
  .beliefs__left-circle.transition-enabled.is-visible {
    transition-delay: 0s;
    transition-duration: 0.2s;
    opacity: 1;
  }

  .beliefs__left-circle h2,
  .beliefs__left-circle p {
    text-align: center;
    margin: 0;
    color: $color-titles;
  }
  h2.transition-enabled.is-visible,
  p.transition-enabled.is-visible {
    transition-delay: 0.3s;
    transition-duration: 1s;
    opacity: 1;
  }
  .beliefs__left-circle p {
    font-weight: 700;
  }
  .beliefs__left-circle h2 {
    font-size: 70px;
  }
  .beliefs__right {
    margin-top: 52px;
  }

  .beliefs__wrap {
    white-space: nowrap;
    margin-left: 10%;
    margin-top: -50px;
    .row {
      width: 80%;
    }
    .beliefs__item {
      width: 50%;
      margin-right: 5%;
      margin-bottom: 40px;
    }
    .beliefs__item.transition-enabled {
      transform: translate(100px, 0);
    }

    .beliefs__item.transition-enabled.is-visible {
      transition-delay: 0.7s;
      transform: translate(0, 0);
      opacity: 1;
    }
    .beliefs__item.transition-enabled.is-visible.item-1 {
      transition-delay: 0.7s;
    }
    .beliefs__item.transition-enabled.is-visible.item-2 {
      transition-delay: 1s;
    }
    .beliefs__item.transition-enabled.is-visible.item-3 {
      transition-delay: 0.9s;
    }
    .beliefs__item.transition-enabled.is-visible.item-4 {
      transition-delay: 1.1s;
    }
    .beliefs__item-text strong {
      font-size: 16px;
      display: block;
      margin-bottom: 5px;
    }
    .row:nth-child(2) {
      margin-left: 10%;
    }
    .row:nth-child(2) .beliefs__item:nth-child(2) {
      margin-left: 5%;
    }
    .beliefs__item-num {
      background-image: url(../img/circle-number.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: inline-block;
      padding: 10px 15px;
      color: $color-white;
      display: inline-block;
      margin-right: 10px;
    }
    .beliefs__item-text {
      display: inline-block;
      vertical-align: top;
      width: 80%;
    }
    .beliefs__item-text strong {
      color: $color-titles;
      margin-bottom: 10px;
    }
    .beliefs__item-text p {
      margin-top: 0;
    }
  }
}

.beliefs__ring {
  background-image: url(../img/circle-dotted.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 200px;
  position: absolute;
  top: 70px;
  left: -70px;
  z-index: -1;
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
  -ms-animation: rotating 60s linear infinite;
  -o-animation: rotating 60s linear infinite;
  animation: rotating 60s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes half-rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes half-rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.section.founder {
  background-image: url(../img/founder-bG.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
  height: 655px;
  margin-top: -50px;
  z-index: 5;
  white-space: nowrap;
  z-index: 4;

  .transition-enabled {
    transition-delay: 0.3s;
    transition-duration: 1s;
    opacity: 0;
    transform: translate(-300px, 0);
  }
  p.transition-enabled {
    transition-delay: 0.5s;
  }

  .transition-enabled.is-visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  h3,
  p {
    color: $color-white;
  }
  p {
    font-size: 18px;
    line-height: 160%;
  }
  .content {
    padding-top: 350px;
    min-height: 350px;
  }
  .blog-section-title {
    font-weight: bold;
  }
  h3.blog-section-title {
    position: absolute;
    bottom: 80px;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
  }
}

.section.blog_topics {
  background-image: url(../img/blog-topics-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  padding-top: 120px;
  padding-bottom: 140px;
  -webkit-transition-duration: 2.5s;
  -moz-transition-duration: 2.5s;
  transition-duration: 2.5s;

  .transition-enabled .grid__item {
    transition-delay: 0.5s;
    transition-duration: 1.2s;
    transform: translate(0, -300px);
    opacity: 0;
  }
  .transition-enabled.is-visible .grid__item {
    transform: translate(0, 0);
    opacity: 1;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .grid__item p {
    font-size: 13px;
    height: 100%;
    max-height: 55px;
    overflow: hidden;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
  }
  .grid__item.open p {
    max-height: 300px;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
  }

  a.link--more {
    @extend .morelink;
  }
  .morelink:hover:after,
  .morelink:focus:after {
    transform: rotate(180deg);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  .grid__item.open a.link--more:after {
    background-image: url(../img/icon-less.png);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
}

.section.blog_posts {
  margin-top: 100px;
  margin-bottom: 80px;

  h2 {
    font-size: 32px;
    margin-left: 60px;
  }

  .grid__item {
    min-height: 300px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 30px 5px #f2f3f8;
    -moz-box-shadow: 5px 5px 30px 5px #f2f3f8;
    box-shadow: 5px 5px 30px 5px #f2f3f8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .transition-enabled .grid__item {
    transition-delay: 0.5s;
    transition-duration: 1.2s;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  .transition-enabled.is-visible .grid__item {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .grid__text {
    background-color: $color-white;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
    padding: 20px 30px;
    height: 50%;
    -webkit-border-right-bottom-radius: 4px;
    -moz-border-right-bottomradius: 4px;
    border-bottom-right-radius: 4px;
    transition-duration: 0.5s;
  }
  a {
    @extend .morelink;
    position: absolute;
    bottom: 30px;
  }
  .grid__text:hover {
    color: $color-white;
    background-color: $color-links;
    transition-duration: 0.5s;
  }
  .grid__text:hover a {
    color: $color-white;
    transition-duration: 1.5s;
  }
  .grid__text:hover a:after {
    background-image: url(../img/icon-arrow-white.png);
    transition-duration: 1.5s;
  }
}

.section.contact {
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $color-titles;
  a {
    color: $color-titles;
  }
  span {
    display: inline-block;
    vertical-align: top;
  }
  span a:hover {
    text-decoration: none;
    color: $color-links;
  }
  .contact__phone {
    background-image: url(../img/icon-phone.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: left top;
    padding-left: 25px;
    max-width: 200px;
    margin-right: 40px;
    min-height: 15px;
  }
  .contact__address {
    @extend .contact__phone;
    background-image: url(../img/icon-marker.png);
    padding-left: 25px;
    max-width: 230px;
    margin-right: 25%;
  }
  .contact__email {
    @extend .contact__phone;
    background-image: url(../img/icon-mail.png);
    padding-left: 24px;
    max-width: 230px;
    background-size: 15px auto;
  }
}

/*
  --------------------------------------------------
  Tablets / Mobile
  --------------------------------------------------
  */
@media only screen and (max-width: 1320px) {
  .section.founder {
    h3.blog-section-title {
      position: absolute;
      bottom: 50px;
    }
  }
}
@media only screen and (max-width: 1220px) {
  .section.founder {
    h3,
    p {
      color: $color-white;
    }
    p {
      font-size: 15px;
      line-height: 160%;
    }
    .section__left {
      width: 60%;
    }

    h3.blog-section-title {
      bottom: -110px;
      color: $color-titles;

      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      transition-duration: 1s;
    }
  }
}

@media only screen and (max-width: 1080px) {
  .content__intro {
    margin-top: 28%;
  }
}

@media only screen and (max-width: 900px) {
  body.page-home .section.landing {
    min-height: 630px;
  }
  .content__intro {
    margin-top: 200px;
    h1 {
      font-size: 58px;
    }
  }
  .section.about {
    h2 {
      font-size: 32px;
    }
  }
  .section.contact {
    .contact__address {
      margin-right: 0;
    }
  }
}
@media only screen and (max-width: 880px) {
  .section.founder {
    background-size: cover;
    background-position: top right 30%;
    min-height: 500px;
    .section__left {
      width: 70%;
    }
  }
  .content {
    width: 90%;
  }
}
@media only screen and (max-width: 680px) {
  .section.about {
    margin-top: 60px;
  }
  .section.blog_posts {
    margin-bottom: 40px;
    .grid__item {
      width: 45%;
      max-width: 360px;
      margin-bottom: 5%;
    }
  }
  .section.blog_topics {
    padding-bottom: 80px;
    padding-top: 60px;
    .grid__item {
      width: 100%;
      margin-top: 15px;
    }
  }
  .section.contact {
    .contact__phone {
      margin-bottom: 15px;
    }
  }
  .scrollUp {
    right: 0px;
  }
  .section.founder {
    border: solid thin transparent;
    .content {
      padding-top: 95px;
    }
    p {
      font-size: 13px;
    }
    h3.blog-section-title {
      bottom: -18%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .section.beliefs {
    .beliefs__right {
      margin: 15px 15px 15px 0;
      display: block;
      width: 100%;
    }
    .beliefs__wrap {
      margin-top: 15px;
      margin-left: 0px;

      .row {
        width: 100%;
      }
      .beliefs__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
      }
      .row:nth-child(2) {
        margin-left: 0;
      }
      .row:nth-child(2) .beliefs__item:nth-child(2) {
        margin-left: 0;
      }
      .section__left,
      .section__right {
        display: block;
        width: 100%;
      }
    }
  }

  .section.blog_posts {
    .grid__item {
      width: 100%;
      margin: 0;
      margin-bottom: 5%;
    }
  }

  .section.contact {
    .contact__phone {
      width: 100%;
      margin-right: 0;
    }
  }

  .section.beliefs {
    .beliefs__left-circle {
      padding: 25px 0 35px;
    }
    .beliefs__left-circle h2 {
      font-size: 60px;
    }
  }

  .beliefs__ring {
    padding: 150px;
  }

  .section.founder {
    min-height: 520px;
    .content {
      min-height: 370px;
    }
    h3.blog-section-title {
      bottom: -80px;
    }
  }
}
@media only screen and (max-width: 425px) {
  body.page-home .section.landing {
    min-height: 530px;
  }
  .content__intro {
    margin-top: 130px;
    h1 {
      font-size: 42px;
    }
    .subtitle {
      font-size: 16px;
    }
  }
  .section.about {
    margin-top: 60px;

    .about__left,
    .about__right {
      padding-right: unset;
      width: unset;
    }
    h2 {
      font-size: 28px;
    }
  }
  .section.founder {
    min-height: 610px;
    background-position: top right 20%;
    .content {
      min-height: 480px;
    }
    h3.blog-section-title {
      bottom: -80px;
    }
  }
  .content {
    width: 87%;
  }
}
@media only screen and (max-width: 320px) {
  body.page-home .section.landing {
    min-height: 460px;
  }
}
