* {
  font-family: 'Sofia Pro', sans-serif;
  font-size: 14px;
}

body {
  color: black;
  background-color: linen;
  padding: 2.2rem;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem
}

h2 {
  font-size: 2.5rem
}

li[class="light"] {
  color: gray;
}

a {
  color: darkgoldenrod;
  font-weight: bolder;
}

code {
  color: brown;
  font-family: Courier, monospace;
}